
[data-section='tribute']:not([data-toggle]) {

}

.tribute {
  padding-top: $spacing-y;

  .-tributee {
    padding-bottom: ($spacing-y / 3);
    border-bottom: var(--input-border);
    margin-bottom: $spacing-y;
  }
}

.notify {

  [data-section='ecard'],
  [data-section='mail'] {
    padding-bottom: 0;
  }

  .ecards {
    margin: $spacing-y 0 0 0;
  }

  .ecard {
    margin-right: 1.5em;
    cursor: pointer;

    .-radio {
      margin-right: 0;
    }

    img {
      border: var(--input-border);
      border-radius: var(--input-border-radius);
      margin: 0 0 .25em 0;
      transition: all $ts $te;
    }

    &:hover {
      input ~ span {
        background-color: var(--active-hover);
        border-color: var(--active-bg);
      }

      img {
        border-color: var(--active-bg);
      }
    }
  }

  .-preview {

    table {
      border-spacing: 0;
      margin: 0 0 $spacing-y 0;
    }

    th, td {
      padding: .5em;
      text-align: left;
    }

    td {
      font-weight: normal;
    }

    .message * {
      font-weight: normal;
    }
  }

}
