
[data-section='tribute']:not([data-toggle]) {

}

.tribute {
  padding-top: $spacing-y;
}

.notify {

  [data-section='ecard'],
  [data-section='mail'] {
    padding-bottom: 0;
  }

  .ecards {
    margin: 1.5em 0 1em 0;
  }

  .ecard {
    margin-right: 1.5em;
    cursor: pointer;

    .-radio {
      margin-right: 0;
    }

    img {
      border: var(--input-border);
      border-radius: var(--input-border-radius);
    }
  }

  .-preview {

    .message * {
      font-weight: normal;
    }
  }

}
