
[data-section='tribute']:not([data-toggle]) {

}

.tribute {
  padding-top: $spacing-y;
}

.notify {
  margin-top: $spacing-y;

  [data-section='ecard'],
  [data-section='mail'] {
    padding-top: $spacing-y;
    padding-bottom: 0;

    .-inline {
      margin-bottom: 1em;
    }
  }
}
