
$spacing-y: 1.5em;
$button-bg: #eee;
$input-border-color: #ddd;
$ts: .25s;        // transition speed
$te: ease-in-out; // transition ease

:root {
  --max-width: 800px;

  --letter-spacing: 0.025em;

  --active-bg: #025993;
  --active-hover: #75cbc866;
  --active-color: #fff;

  --button-bg: #{$button-bg};
  --button-color: #222;

  --help-color: #555;

  --input-bg: #fff;
  --input-border-color: #{$input-border-color};
  --input-border: solid 1px var(--input-border-color);
  --input-border-radius: 5px;
  --input-checkbox-size: 20px;

}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #222;
  margin: 0;
  padding: 0;
  background: var(--input-bg);
}

pre {
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  line-height: 1;
  letter-spacing: calc(var(--letter-spacing) * -1);
  margin: 0 0 .5em 0;

  span {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0;
    color: var(--help-color);
    display: block;
    margin: 0 0 .25em 0;
  }
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: var(--active-bg);
  text-decoration: none;
}

.sr-only {
  display: none;
}

.-inline {
  display: flex;

  &.-right {
    justify-content: flex-end;
  }
}

ul.-inline {
  @extend .-inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

.-border {
  padding: 1em $spacing-y;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
}

.help {
  font-size: 14px;
  color: var(--help-color);
  max-width: 60%;
}

.donation {
  width: var(--max-width);
  margin: $spacing-y auto;
}



[data-section] {
  padding: 0 0 $spacing-y 0;

  &.-border {
    @extend .-border;
  }
}

[data-toggle='true'] {
  display: none;
}
[data-toggle='false'] {
  display: block;
}

@import 'input';
@import 'modal';
@import 'locale';
@import 'frequency';
@import 'levels';
@import 'payment';
@import 'tribute';